.task {
  background-color: #17367e;
  padding: 2rem 0;
  border-radius: 10px;
}
.task + .task {
  margin-top: 2rem;
}
.task > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task p {
  font-size: 1.6rem;
}
.bottom {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.bottom button {
  font-size: 1.5rem;
  width: 45%;
}
.checked {
  opacity: 0.7;
}
.btn--check {
  background-color: #000;
}
.btn--delete {
  background-color: red;
  color: #fff;
}
@media (min-width: 500px) {
  .task > .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .task p {
    width: 60%;
  }
  .bottom {
    margin: 0;
    flex-direction: column;
    width: 30%;
  }
  .bottom button {
    width: 100%;
  }
  .btn--delete {
    margin: 1rem 0 0 0;
  }
}
@media (min-width: 1000px) {
  .bottom {
    flex-direction: row;
    width: 35%;
  }
  .bottom button {
    width: 45%;
  }
  .btn--delete {
    margin: 0;
  }
}
